# Python Basics Assignment Notebook
Instructions
Complete all the exercises below. Each section corresponds to the concepts covered in class. Write your code in the designated cells and test your solutions.

# Section 1: Print Statements and Basic Operations
### Exercise 1.1: Print Statement

Write a print statement that displays your name.

In [ ]:
my_name = "fawrah"

print(my_name)

### Exercise 1.2: Arithmetic Operations
Calculate and print the results of the following operations:

- Add 15 and 25
- Subtract 30 from 50
- Multiply 7 by 8
- Divide 100 by 4
- Find the integer division of 100 by 3
- Find the remainder when 100 is divided by 3
- Calculate 2 to the power of 5

In [ ]:
x = 15
y = 25
print(x + y)

a = 50
b = 30
print(a - b)

Construct the following equation and calculate the value the value of y using Python
![Alt text](image.png)

In [ ]:
w = 7
m = 8
print(w * m)

In [ ]:
p = 100
q = 4
print(p/q)

In [ ]:
num = 100
num2 = 3
print(num%num2)

In [ ]:
s = 100
t = 3
print(s//t)

In [ ]:
ext = 5
pow = 2
print(ext**pow)

#  Section 2: Variables and Assignment Operators
### Exercise 2.1: Variable Assignment

Create variables with the following values:

- student_name = your name
- age = your age
- grade = your current grade/class

Print all three variables.

In [ ]:
student_name = farwah
age = 25
grade = "python"
print(student_name " " + age +" " + grade)

### Exercise 2.2: Mathematical Operations with Variables
Create two variables a = 10 and b = 5. Then:

- Calculate their sum and store in variable sum_result
- Calculate their product and store in variable product_result
- Print both results

In [ ]:
a = 10
b = 5
sum_result = a + b
print(sum_result)

In [ ]:
a = 10
b = 5
product_result = (10*5)
print(product_result)

### Exercise 2.3: Increment and Decrement Operators
Start with a variable counter = 0:

- Increment it by 3 using the += operator
- Print the result
- Decrement it by 1 using the -= operator
- Print the final result

In [ ]:
var_count = 0
var2_count += 2
print(var2_count)
var2_count -= 1
print(var2_count)

# Section 3: Data Types
### Exercise 3.1: Identifying Data Types
Create variables of different types and check their types:

- An integer: num1 = 42
- A string: text1 = "Python Programming"
- A float: decimal1 = 3.14159
- A boolean: is_student = True

Use the type() function to check and print the type of each variable.

In [ ]:
print(type(num1))
print(type(text1))
print(type(decimal1))
print(type(is_student))

# Section 4: Strings and String Handling
### Exercise 4.1: String Creation
Create three string variables:

- greeting = "Hello"
- name = "Python"
- exclamation = "!"

In [ ]:
print=(greeting + name + exclamation)

### Exercise 4.2: String Concatenation
Using the variables from Exercise 4.1, concatenate them to create:

- "Hello Python!"
- "Python Hello!"

Print both results.

In [ ]:
print=(greeting +" " + name + exclamation) 
print(name + " "+ greeting + exclamation)

### Exercise 4.3: String and Number Concatenation
Create:

- label = "Your score is: "
- score = 95

Concatenate them to print "Your score is: 95"

In [ ]:
print(label + score)

# Section 5: Type Conversion
### Exercise 5.1: String to Integer
Given str_num = "25":

- Check its type
- Convert it to an integer
- Check the type of the converted value
- Print both the original and converted values

In [ ]:
print(type(str_num))
print(str_num)
int_num = int(str_num)
print(type(str_num))
print(str_num)

### Exercise 5.2: Adding Numbers with Type Conversion
You have:

- num_a = 10
- num_b = "15"

Add these two numbers by converting num_b to an integer

In [ ]:
num_c = int(num_b)
print(num_a + num_c)

# Section 6: String Indexing
### Exercise 6.1: Basic String Indexing

Given student_name = "Python":

- Print the character at index 2
- Print the last character using negative indexing
- Print the second-to-last character
- Print the first character using negative indexing
- Print the first and last characters together (e.g., "P,n")
- Print characters at positions 0, 5, and -1 together

In [ ]:
print(student_name[2])
print(student_name[-1])
print(student_name[1:])
print(student_name[:-5])
print(student_name[0] + "," + student_name[-1])
print(student_name[0] + "," +studnt_name[5] + "," + student_name[-1])

# Section 7: String Slicing
### Exercise 7.1: Basic Slicing
Given text = "Hello, Python!":

- Extract "Hello"
- Extract "Python"
- Extract the last 5 characters

In [ ]:
print(given text[0:5])
print(given text[-7:-2])
print(given text[-5:])

### Exercise 7.2: Advanced Slicing
Using alphabet = "abcdefghijklmno":

- Extract "cde"
- Extract every second character starting from index 0
- Extract the string in reverse order
- Extract every third character

In [ ]:
print(using alphabet[2:5])
print(using alphabet[::2])
print(using alphabet[::=1])
print(using alphabet[::3])

### Exercise 7.3: Practical Slicing
Given sentence = "Python programming is fun":

- Extract the word "Python"
- Extract the word "programming"
- Extract the last word "fun"
- Extract every other character from the entire string

In [ ]:
print(given sentence[0:6])
print(given sentence[7:18])
print(given sentence[:-3])
print(given sentence[::2])

# Section 8: String Methods
### Exercise 8.1: Mixed String Methods
Create a program that:

- Takes a string user_input = "  hello WORLD  "
- Removes leading and trailing spaces (use .strip())
- Converts it to title case
- Checks if the result is alphabetic
- Count the number of "o" characters
- Replace "o" with "0"

In [ ]:
user_input = "hello WORLD"
print(user_input.strip())

In [ ]:
user_input = "hello WORLD"

m = txt.isalpha()

print(m)

In [ ]:
user_input = "hello WORLD"
x = user_input.count("o")
print(x)

In [ ]:
user_input = "hello"
z = user_input.replace("o","O")
print(z)

# Section 9: Debugging Exercise
### Exercise 9.1: Find and Fix the Errors
The following code has several errors. Identify and fix them:

```
# Original code with errors (DO NOT RUN - FIX FIRST)
name = 'John
age = "25"
print("Hello, " + name)
print("You are " + age + " years old")
print(name[0] + name[-1)
result = int("abc")
```

Write the corrected version below:

In [ ]:
name = "john"
age = 25
print("hello" +" " + name)
print("you are" + str(age) + "years old")
print(name[0] + name[-1])